{% extends "::base.html.twig" %}

{% block title %}Blog Page{% endblock %}

{% block body %}
	<h1>Welcome to the Blog Page</h1>

	<hr>

	<div class="row">

		<div class="col-md-8">
			<!-- <h2>Posts</h2> -->
			{% for article in articles %}
				<article class="post">
					<div class="row">
						<div class="col-md-2">
							<a href="/blog/{{article.id}}" class="thumbnail"><img src="{{article.image}}" alt=""></a>
						</div>
						<div class="col-md-8">
							<a href="/blog/{{article.id}}" >
								<h3 class="title">{{article.title}}</h3>
							</a>
							<div class="body">{{article.body}}</div>
						</div>
					</div>
				</article>
				<hr>
			{% endfor %}
		</div>

		<div class="col-md-2">
			<h5>Tags</h5>
			{% for tag in tags %}
				<span class="label label-default">{{tag.name}}</span>
			{% endfor %}
		</div>

	</div>
{% endblock %}