<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-faded">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                  <a class="navbar-brand" href="/">TicketLine</a>
                  <ul class="nav navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/recommendation">Recommendations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/genres">Genres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/a-to-z">A to Z</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="/date">Date</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/location">Location</a>
                    </li> -->

                    {% if session.get('user') != null and session.get('user').first_name %}
                         <li class="nav-item">
                          <a class="nav-link" href="/user">{{session.get('user').first_name}} {{session.get('user').last_name}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                    {% endif %}
                  </ul>
                 <form class="form-inline navbar-form pull-right">
                    <input class="form-control" id="search" type="text" placeholder="Search">
                    {# <button class="btn btn-success-outline" type="submit">Search</button> #}
                  </form>
                </div>
            </nav>
            <br>
          <!--   <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul> -->
        </div>
        <div class="container">
            <ul class="list-group" id="search-results">
              
            </ul>
        </div>
        <br>
        <div class="container" id="pjax-container">
            {% block body %}{% endblock %}
        </div>
        
        <hr>

        {% block javascripts %}{% endblock %}
        <script>
            document.addEventListener("DOMContentLoaded", function() { 
                $(document).pjax('a','#pjax-container');

                var client = algoliasearch('1XJ83A5RFF', '737fba846272a77ae515881cdcd04c5b');
                var index = client.initIndex('Artist_dev');

                var search = document.getElementById("search");
                // var searchresults = document.getElementById("search-results");
                search.addEventListener('keyup',function(){
                  index.search(search.value).then(function searchSuccess(content) {
                      $("#search-results").empty();
                      for (var i = content.hits.length - 1; i >= 0; i--) {
                        var artist = content.hits[i];
                        var item = '<a href="/artists/'+artist.slug+'" class="list-group-item">'+artist.name+'</a>';
                        $("#search-results").append(item);
                      };
                  }).catch(function searchFailure(err) {
                        console.error(err);
                  });
                });
            });
        </script>
    </body>
</html>


{% javascripts 
    '@jquery_and_ui' 
    '@bootstrap_js'
    '//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% stylesheets
    '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}