{% extends "::base.html.twig" %}

{% block title %}AppBundle:Artist:show{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-block">
				    <h4 class="card-title">{{artist.name}}</h4>
				    <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
			  	</div>
			  	<img src="{{artist.image_base_url}}{{artist.image_default}}" style="max-width:100%;" class="card-img-top" alt="Responsive image">
			  	<div class="card-block">
			    	<p class="card-text"></p>
			    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				    <button type="button" class="card-link btn btn-success-outline">Buy</button>
				    <a href="#" class="card-link">Review</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="artist-bio">
				{{artist.Bio.description|raw}}
			</div>
			<hr>
			<h4>Events</h4>
			<hr>
			<div class="card-columns">
				{% for event in artist.events %}
				<div class="card text-center">
				  <div class="card-header">
				    {{event.venue_space_name}}
				    <br>
				    <br>
				    {{event.event_name}}
				  </div>
				  <div class="card-block">
				    <!-- <h4 class="card-title">{{event.event_name}}</h4> -->
				    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
				    {% if event.status_code != 'A' %}
						<button disabled href="/order/{{event.id}}" class="btn btn-secondary btn-sm">{{event.Status.name}}</button>
				    {% else %}
					    <a href="/order/{{event.id}}" class="btn btn-success">{{event.Status.name}}</a>
					{% endif %}
				  </div>
				  <div class="card-footer text-muted">
				    {{event.datetime|formattime("l dS M Y")}}
				    <br>
				    {{event.datetime|formattime("H:i")}}
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- Tours -->
	</div>
{% endblock %}
